html,
body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100%;
	background: rgba(255, 255, 255, 1);
	font-family: "Baron Sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow: auto;
}

[data-baron-render-root] {
	position: relative;
	flex: none;
	overflow: hidden;
}

[data-baron-toolbar-root] {
	flex: none;
}
